@charset "utf-8";
/* ONLINEPOWERS FED */

/*==================
	마이페이지
==================*/
/* 마이페이지 */
.mypage_wrap {background:#ebebeb; }
.mypage_wrap h3 {font-size:13px; font-weight:800; color:#666; text-align:center; padding:13px 0; }
.mypage_info {background:#1c2957; }
.mypage_info .grade {padding:20px 15px 10px 15px; text-align:center; }
.mypage_info .grade .ico {display:inline-block; width:49px; }
.mypage_info .grade .desc {font-size:11px; font-weight:800; color:#fff; margin:8px 0;  }
.mypage_info .grade .desc span {font-size:11px; font-weight:800; color:#e6be5c; vertical-align:top; }
.mypage_info .info {height:72px; border-top:1px solid #2f3b65; }
.mypage_info .info ul {font-size:0; height:100%; }
.mypage_info .info ul li {width:33.3%; height:100%; display:inline-block; text-align:center; border-left:1px solid #333f68; padding:20px 0 18px; }
.mypage_info .info ul li:first-child {border-left:none; }
.mypage_info .info ul li .num {font-size:15px; font-weight:800; color:#23ade3; }
.mypage_info .info ul li .num span {font-size:11px; font-weight:400; color:#23ade3; vertical-align:initial; }
.mypage_info .info ul li .tit {margin-top:5px; font-size:11px; color:#fff; }
.mypage_con {background:#ebebeb; padding:10px; }
.mypage_con .check_wrap {background:#fff; }
.mypage_con .check_wrap .delivery_check {text-align:center; padding-bottom:8px;  }
.mypage_con .check_wrap .delivery_check ul {overflow:hidden; } 
.mypage_con .check_wrap .delivery_check ul li {float:left; width:20%; background:url(../images/common/delivery_check_arr.gif) no-repeat left 6px; background-size:5px 8px; padding-left:5px; }
.mypage_con .check_wrap .delivery_check ul li:first-child {background:none; }
.mypage_con .check_wrap .delivery_check ul li .num {font-size:20px; font-weight:800; color:#b8b8b8; }
.mypage_con .check_wrap .delivery_check ul li .tit {font-size:11px; font-weight:400; color:#b8b8b8; margin-top:6px; padding-bottom:3px;  }
.mypage_con .check_wrap .delivery_check ul li.on p {color:#23ade3; }
.mypage_con .check_wrap .order_check {border-top:1px solid #e4e4e4; padding:9px 0; }
.mypage_con .check_wrap .order_check ul {overflow:hidden; }
.mypage_con .check_wrap .order_check ul li {float:left; width:33.3%; text-align:center; }
.mypage_con .check_wrap .order_check ul li p {font-size:11px; font-weight:600; color:#b8b8b8; border-left:1px solid #e4e4e4; padding-bottom:2px; }
.mypage_con .check_wrap .order_check ul li p span {font-size:11px; font-weight:800; color:#b8b8b8; vertical-align:baseline; }
.mypage_con .check_wrap .order_check ul li:first-child p {border-left:none; }
.mypage_con .check_wrap .order_check ul li.on p {color:#23ade3; }
.mypage_con .check_wrap .order_check ul li.on span {color:#23ade3; }
.mypage_con .quick_link {background:#fff; margin-top:5px; }
.mypage_con .quick_link ul {overflow:hidden; width:100%; }
.mypage_con .quick_link ul li {float:left; width:33.3%; text-align:center; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }
.mypage_con .quick_link ul li.last {border-right:none; }
.mypage_con .quick_link ul li.none {border-bottom:none; }
.mypage_con .quick_link ul li a {display:inline-block; width:100%; height:100%; font-size:11px; font-weight:600; color:#1a1a1a; padding: 15px 0; }
.mapage_menu {background:#fff; margin-top:5px; padding:0 15px 15px 15px; }
.mapage_menu .menu {border-top:1px solid #b2b2b2; }
.mapage_menu .menu > li a.oneDepth {height:35px; font-size:12px; font-weight:800; color:#666; line-height:35px; display:block; overflow:hidden; border-bottom:1px solid #b2b2b2; padding:0 10px; }
.mapage_menu .menu > li a.oneDepth .arr {float:right; display:inline-block; width:12px; height:7px; background:url(../images/common/mapage_menu_arr.png) no-repeat 0 -7px; background-size:cover; margin-top:14px; }
.mapage_menu .menu > li a.on {color:#1a1a1a; }
.mapage_menu .menu > li a.on .arr {background-position:0 0; }
.mapage_menu .menu .twoDepthBox {display:none; width:100%; }
.mapage_menu .menu .twoDepthBox > ul {border-bottom:1px solid #b2b2b2; }
.mapage_menu .menu .twoDepthBox > ul > li {border-top:1px solid #dddddd; }
.mapage_menu .menu .twoDepthBox > ul > li:first-child {border-top:none; }
.mapage_menu .menu .twoDepthBox > ul > li > a {display:block; height:35px; line-height:35px; padding:0 10px; font-size:11px; font-weight:400; color:#666; background:#fafafa; overflow:hidden; }

/* 나의 등급안내 */
.grade_info {background:#fff; }
.grade_info .grade {padding:20px 15px 15px 15px; text-align:center; }
.grade_info .grade .ico {display:inline-block; width:49px; }
.grade_info .grade .txt {font-size:14px; font-weight:800; color:#1a1a1a; margin:8px 0 6px; }
.grade_info .grade .txt span {font-size:14px; font-weight:800; color:#f35b4e; vertical-align:top; }
.grade_info .grade .desc {font-size:9px; }
.grade_info .info {height:72px; border-top:1px solid #ebebeb; }
.grade_info .info ul {font-size:0; height:100%; }
.grade_info .info ul li {width:33.3%; height:100%; display:inline-block; text-align:center; border-left:1px solid #ebebeb; padding:18px 0 17px; }
.grade_info .info ul li:first-child {border-left:none; }
.grade_info .info ul li .tit {font-size:11px; color:#666; }
.grade_info .info ul li .num {font-size:13px; font-weight:800; color:#1c2957; margin-top:6px; }
.grade_info .info ul li .num span {font-size:19px; font-weight:800; color:#1c2957; vertical-align:text-bottom; }
.grade_detail {background:#fff; margin-top:5px; padding:15px 15px 0 15px; }
.grade_detail h4 {font-size:12px; font-weight:800; color:#1a1a1a; }
.grade_detail .detail_list {border-top:1px solid #f0f0f0; margin-top:10px; }
.grade_detail .detail_list > li {position:relative; border-top:1px dotted #ededed; padding:15px 15px 15px 50px;  }
.grade_detail .detail_list > li:first-child {border-top:0; }
.grade_detail .detail_list > li .ico {position:absolute; top:10px; left:0; display:inline-block; width:38px; height:38px; }
.grade_detail .detail_list > li .grade_name {font-size:13px; font-weight:600; color:#1c2957; }
.grade_detail .detail_list > li .grade_txt {font-size:11px; margin:7px 0; }
.grade_detail .detail_list > li ul {}
.grade_detail .detail_list > li ul li {font-size:11px; font-weight:600; color:#999; line-height:13px; }
.grade_desc {padding:15px 11px 60px; }
.grade_desc span {font-size:11px; }
.grade_desc ul {margin-top:8px; }
.grade_desc ul li {font-size:11px; color:#999; margin-left:3px; padding-left:9px; line-height:15px; background:url(../images/common/agree_box_b.gif) no-repeat left 8px; background-size:5px 1px; }

/* 쿠폰 */
.tab_container {background:#fff; }
.use_list {padding: 0 0 15px 0;}
.down_list {}
.coupon_list {padding: 0 15px; }
.coupon_list li {position:relative; min-height:106px; border-bottom:1px solid #e9e9e9; padding:15px 0 15px 110px; }
.coupon_list li .img {position:absolute; top:15px; left:0; text-align:center; }
.coupon_list li .img .coupon {width:95px; height:49px; line-height:48px; font-size:13px; font-weight:800; font-style:italic; color:#fff; padding-left:1px; text-align:center; padding-right:14px; }
.coupon_list li .img .coupon span {font-size:15px; font-weight:800; color:#fff; padding-left:1px; vertical-align:baseline; }
.coupon_list li .img .coupon_blue {background:url(../images/common/coupon_bg_blue.png) no-repeat left top; background-size:95px 49px; }
.coupon_list li .img .coupon_green {background:url(../images/common/coupon_bg_green.png) no-repeat left top; background-size:95px 49px; }
.coupon_list li .img .coupon_red {background:url(../images/common/coupon_bg_red.png) no-repeat left top; background-size:95px 49px; }
.coupon_list li .img a {display:inline-block; margin-top:5px; }
.coupon_list li .txt .coupon_desc {font-size:11px; font-weight:400; color:#999; }
.coupon_list li .txt .coupon_name {font-size:15px; font-weight:800; color:#1a1a1a; line-height:18px; margin:5px 0; }
.coupon_list li .txt .coupon_date {font-size:11px; font-weight:400; color:#b7b7b7; margin-bottom:6px; }
.coupon_list li .txt .all {display:inline-block; width:70px; height:22px; font-size:11px; color:#999; line-height:20px; border:1px solid #e4e4e4; border-radius:3px; text-align:center; }
.coupon_list li .txt .part {display:inline-block; width:70px; height:22px; font-size:11px; color:#23ade3; line-height:20px; border:1px solid #23ade3; border-radius:3px; text-align:center; }
.coupon_none {width:100%; background:#fff url(../images/common/coupon_none_bg.png) no-repeat center 30px; background-size:60px 38px; padding:85px 0 50px; text-align:center; min-height:0; }
.coupon_none p {font-size:15px; font-weight:800; color:#999; }
.tab_con .caution {padding:0 15px; }
.common_none {font-size:11px; font-weight:600; color:#b7b7b7; background:url(../images/common/review_none_img.png) no-repeat center top; background-size:36px; margin:20px 0; padding-top:45px; text-align:center; } /* 170414 추가 */
.common_none p {font-size:15px; font-weight:800; color:#999; } /* 170414 추가 */

/* 활동정보 */
.tab_area {padding:15px 10px; border-bottom:1px solid #e7e7e7; background:#fff; }
.tab_area .tab_txt {margin-top:10px; }
.tab_area .tab_txt li {font-size:11px; font-weight:600; color:#1c2957; background:url(../images/common/tab_txt_b.gif) no-repeat left 7px; background-size:2px; padding-left:7px; line-height:15px; }
.active_info {background:#fff; text-align:center; border-bottom:1px solid #e4e4e4; margin-bottom:5px; }
.active_info ul {overflow:hidden; }
.active_info ul li {float:left; width:50%; padding:37px 0; }
.active_info ul li:first-child {border-right:1px solid #e4e4e4; }
.active_info ul li .tit {font-size:11px; font-weight:600; color:#1a1a1a; margin-top:4px; padding-bottom:1px; }
.active_info ul li .num {font-size:15px; font-weight:800; color:#23ade3; }
.active_info ul li .num span {font-size:20px; font-weight:800; color:#23ade3; vertical-align:bottom; margin-right:3px; }
.date_search {background:#f9f9f9; padding:10px 10px 10px 11px; overflow:hidden; border-bottom:1px solid #e4e4e4; }
.date_search .date_search_info {overflow:hidden; }
.date_search .date_search_info .txt {float:left; display:inline-block; font-size:11px; font-weight:600; color:#666; line-height:30px; }
.date_search .date_search_info .date_search_btn {float:right; display:inline-block; width:68px; height:30px; font-size:12px; font-weight:800; color:#23ade3; background:#fff; border:1px solid #23ade3; border-radius:3px; line-height:26px; text-align:center; }
.date_search .date_search_info .date_search_btn.on {width:12px; height:12px; border:none; background:url(../images/common/date_search_close.gif) no-repeat center center; background-size:12px; font-size:0; margin-top:10px; text-indent:-9999px; }
.date_search .date_search_con {margin-top:5px; text-align:center; display:none; }
.date_search .date_search_con ul li {position:relative; padding-left:18%; overflow:hidden; margin-top:5px; }
.date_search .date_search_con ul li:first-child {margin-top:0; }
.date_search .date_search_con ul li span {position:absolute; top:10px; left:0; font-size:12px; font-weight:600; line-height:19px; letter-spacing:-1px; }
.date_search .date_search_con ul li .date_area {float:left; width:49.5%; margin-right:1%; }
.date_search .date_search_con ul li .date_area.last {margin-right:0; }
.date_search .date_search_con ul li .date_area select {border-radius:0; }
.date_search .date_search_con ul li .input_search input {border-radius:0; }
.date_search .date_search_con ul li .desc {font-size:11px; font-weight:600; color:#999; line-height:14px; margin-top:9px; padding:0; text-align:left;  }
.date_search .date_search_con button {margin:15px 0 5px; }
.active_con {background:#fff; }
.active_con .order_info {text-align:center; padding:20px 0 27px; border-bottom:1px solid #e4e4e4; }
.active_con .order_info .order_number {font-size:15px; font-weight:800; color:#1a1a1a; }
.active_con .order_info .order_number span {font-size:15px; font-weight:800; color:#23ade3; text-decoration:underline; }
.active_con .order_info .order_date {font-size:12px; font-weight:600; color:#666; margin-top:6px; }
.active_con .order_info .order_date span {font-size:12px; font-weight:600; color:#666; }
.active_con ul li {overflow:hidden; border-bottom:1px solid #e4e4e4; }
.active_con ul li:last-child {border-bottom:none; }
.active_con ul li .active_title {overflow:hidden; border-bottom:1px solid #ededed; padding:10px 0; margin:0 15px; }
.active_con ul li .active_title.save .txt{margin-top:8px;}
.active_con ul li .active_title .txt {float:left;}
.active_con ul li .active_title .txt .label {display:inline-block; height:16px; font-size:10px; color:#fff; text-align:center; line-height:16px; }
.active_con ul li .active_title .txt .save {width:25px; background:#23ade3; }
.active_con ul li .active_title .txt .used {width:25px; background:#b2b2b2; }
.active_con ul li .active_title .txt .delete{width:25px; background:#e42222;}
.active_con ul li .active_title .txt .reply_comp {width:41px; background:#23ade3; }
.active_con ul li .active_title .txt .reply_stand {width:41px; background:#b2b2b2; }
.active_con ul li .active_title .txt .date {font-size:10px; font-weight:600; color:#999; line-height:16px; margin-left:5px; }
.active_con ul li .active_title .btn_st4 {float:right; }
.active_con ul li .active_title .tit {font-size:13px; font-weight:800; color:#1a1a1a; line-height:17px; margin-top:20px; clear:both; }
.active_con ul li .active_title .point_info{float:right; text-align:right;}
.active_con ul li .active_title .report {font-size:10px; font-weight:800; line-height:16px; color:#1c2957;}
.active_con ul li .active_title .report span {font-size:12px; font-weight:800; vertical-align:bottom; margin-right:2px; }
.active_con ul li .active_title .report.plus {color:#23ade3; }
.active_con ul li .active_title .report.plus span {color:#23ade3; }
.active_con ul li .active_title .report.minus {color:#808080; }
.active_con ul li .active_title .report.minus span {color:#808080; }
.active_con ul li .active_title .review_num {float:left; font-size:13px; font-weight:800; color:#1a1a1a; text-decoration:underline; }
.active_con ul li .active_title .review_date {float:right; font-size:10px; font-weight:600; color:#999; line-height:13px; }
.active_con ul li .active_title .review_text {float:left; font-size:13px; font-weight:800; color:#1a1a1a; }
.active_con ul li .active_title .star_rating {float:right; }
/* 170410 추가 시작 */
.active_con ul li .price_title {padding:10px 0; margin:0 15px; }
.active_con ul li .price_title .review_text {font-size:13px; font-weight:800; color:#1a1a1a; }
/* 170410 추가 끝 */
.active_con ul li .order_view_btn {display:block; width:100%; height:100%; overflow:hidden; }
.active_con ul li .order_view_btn .more_arr {float:right; display:inline-block; width:11px; height:6px; background:url(../images/common/more_arr.gif) no-repeat 0 0; background-size:cover; margin-top:5px; }
.active_con ul li .order_view_btn.on .more_arr {background-position:0 -6px; }
.active_con ul li .order_view_btn .active_title {border-bottom:0; }
.active_con ul li .order_view_btn.on .active_title {border-bottom:1px solid #ededed; }
.active_con ul li .active_details {padding:8px 15px; }
.active_con ul li .active_details .tit {font-size:12px; font-weight:600; color:#1a1a1a; line-height:15px; margin-bottom:2px; }
.active_con ul li .active_details .order_number {display:inline-block; }
.active_con ul li .active_details .due_date {display:inline-block; border-left:1px solid #e9e9e9; margin-left:2px; padding-left:4px; }
.active_con ul li .active_details p {font-size:11px; font-weight:600; color:#999; }
.active_con ul li .active_details p span {font-size:11px; font-weight:600; color:#999; vertical-align:bottom; }
.active_con ul li .active_product {position:relative; padding:15px 0 15px 85px; margin:0 15px; min-height:100px; }
.active_con ul li .active_product .active_img {position:absolute; top:15px; left:0; width:70px; height:70px; }
.active_con ul li .active_product .active_name {padding-top:2px; }
.active_con ul li .active_product .active_name .tit {font-size:13px; font-weight:600; color:#1a1a1a; line-height:15px; }
.active_con ul li .active_product .active_name .detail {font-size:11px; font-weight:600; color:#999; line-height:15px; margin-top:5px; }
.active_con ul li .active_product .active_name .q_tit {font-size:13px; font-weight:800; color:#1a1a1a; line-height:15px; margin-top:18px; }
.active_con ul li .active_product .active_name .review_write {margin-top:13px; }
.active_con ul li .q_con {border-top:1px dotted #e7e7e7; background:#f7f8fb; padding:15px; }
.active_con ul li .q_con .question {font-size:11px; font-weight:600; color:#808080; line-height:16px; background:url(../images/common/question_ico.gif) no-repeat left 4px; background-size:11px 10px; padding-left:15px; }
.active_con ul li .q_con .answer {font-size:11px; font-weight:600; color:#808080; line-height:16px; background:url(../images/common/answer_ico.gif) no-repeat left 4px; background-size:11px 10px; padding-left:15px; margin-top:15px; }
.active_con ul li .q_con p {font-size:12px; color:#808080; line-height:15px; padding-right:25px; }
.active_con ul li .q_con .btn_wrap {text-align:right; font-size:0; margin-top:13px; }
.active_con ul li .q_con .btn_wrap a {margin-left:4px; }
.active_con ul li .q_con .btn_wrap a:first-child {margin-left:0px; }
.active_con ul li .item {padding:15px 15px 0 100px; min-height: 100px;}
.active_con ul li .item .order_img {top:15px; left:15px; }
.active_con ul li .main_txt {font-size:0; }
.active_con ul li .main_txt a {display:block; width:100%; height:100%; padding:15px; }
.active_con ul li .status_off {display:inline-block; width:42px; height:15px; background:url(../images/common/status_off.gif) no-repeat left top; background-size:42px 15px; font-size:0; text-indent:-9999px; vertical-align:bottom; }
.active_con ul li .status_on {display:inline-block; width:42px; height:15px; background:url(../images/common/status_on.gif) no-repeat left top; background-size:42px 15px; font-size:0; text-indent:-9999px; vertical-align:bottom; }
.active_con ul li .date {display:inline-block; font-size:11px; font-weight:600; color:#999; margin-left:8px; }
.active_con ul li .content {font-size:13px; font-weight:800; color:#1a1a1a; line-height:18px; margin-top:10px; }
.active_con ul li .sub_txt {display:block; padding:18px 15px; border-top:1px dotted #e4e4e4; background:#f7f8fb; display:none; }
.active_con ul li .question {font-size:11px; font-weight:600; color:#808080; line-height:16px; background:url(../images/common/question_ico.gif) no-repeat left 4px; background-size:11px 10px; padding-left:15px; }
.active_con ul li .answer {font-size:11px; font-weight:600; color:#808080; line-height:16px; background:url(../images/common/answer_ico.gif) no-repeat left 4px; background-size:11px 10px; padding-left:15px; margin-top:15px; }
.active_con ul li .answer .a_date {display:block; font-size:11px; font-weight:800; color:#999; margin-top:3px; }
.active_con ul li .answer .a_date span {font-size:11px; font-weight:800; color:#999; }
.active_con ul li .shipping_detail {border-top:1px solid #f0f0f0; margin:0 15px; padding:7px 0; overflow:hidden; }
.active_con ul li .shipping_detail .shipping_txt {font-size:13px; font-weight:800; color:#23ade3; line-height:25px; }
.active_con ul li .shipping_detail a {float:right; margin-left:2px; }
.active_con ul li .shipping_detail a.b_blue {padding:7px 6px; }
.active_con ul li .order_detail {padding:15px 0; margin:0 15px; border-top:1px dotted #e7e7e7; }
.active_con ul li .order_detail table {width:100%; border:1px solid #e4e4e4; border-collapse:collapse; background:#fff; }
.active_con ul li .order_detail table tr,
.active_con ul li .order_detail table th,
.active_con ul li .order_detail table td {border:1px solid #e4e4e4; vertical-align:top; line-height:16px; }
.active_con ul li .order_detail table th {padding:15px 10px; font-size:12px; font-weight:600; color:#808080; }
.active_con ul li .order_detail table td {padding:15px 10px; font-size:12px; font-weight:600; color:#1a1a1a; }
.active_con ul li .order_detail table td p {line-height:17px; margin-top:8px; }
.active_con ul li .order_detail table td p:first-child {margin-top:0px; }
.active_con ul li .order_detail table td p span {vertical-align:bottom; }
/* 170410 추가 시작 */
.active_con ul li .price_detail {padding:0 0 15px; margin:0 15px; }
.active_con ul li .price_detail table {width:100%; border:1px solid #e4e4e4; border-collapse:collapse; background:#fff; }
.active_con ul li .price_detail table tr,
.active_con ul li .price_detail table th,
.active_con ul li .price_detail table td {border:1px solid #e4e4e4; vertical-align:top; line-height:16px; }
.active_con ul li .price_detail table th {padding:15px 10px; font-size:12px; font-weight:600; color:#808080; }
.active_con ul li .price_detail table td {padding:15px 10px; font-size:12px; font-weight:600; color:#1a1a1a; }
.active_con ul li .price_detail table td p {line-height:17px; margin-top:8px; }
.active_con ul li .price_detail table td p:first-child {margin-top:0px; }
.active_con ul li .price_detail table td p span {vertical-align:bottom; }
/* 170410 추가 끝 */
.active_con ul li .order_view_con {display:none; }
.active_con ul li .option {margin:5px 0 10px; font-size:11px; color:#23ade3; font-weight:600;}
.active_con ul li .option.none {margin-bottom:3px;}
.active_con ul li .price {font-size:12px; color:#666; font-weight:600;}
.active_con ul li .price span.discount {margin-right:2px; color:#b7b7b7; font-size:10px; text-decoration:line-through; vertical-align:baseline;}
.active_con ul li .active_btn {margin:0 15px; padding:10px 0; border-top:1px solid #f0f0f0;}
.active_con ul li .active_btn .btn_st3.s_small {float:left; width: 53px; padding:2px 0; color:#999; font-size:11px; background:#fff;}
.active_con ul li .active_btn .btn_st3.bd_blue {float:right; width:53px; padding:2px 0; font-size:11px;}
.active_con ul.option li span{line-height: 20px;}

.point_none {width:100%; background:#fff url(../images/common/point_none_bg.png) no-repeat center 27px; background-size:50px 43px; padding:83px 0 50px; text-align:center; min-height:0; }
.point_none p {font-size:15px; font-weight:800; color:#999; }
.account_info {font-size:11px; color:#999; margin-top:3px; }
.fv_product {margin-bottom:10px; padding:5px 10px; border-bottom:1px solid #e4e4e4; background:#fff;}
.fv_product .fv_num {float:left; font-size:13px; font-weight:bold; color:#333; line-height:28px;}
.fv_product .fv_num span {color:#fd5021; font-size:13px; vertical-align:baseline;}
.fv_product button {float:right;}

/* 회원정보 */
.info_modi {background:#fff; }
.info_modi .txt {font-size:13px; font-weight:600; color:#1a1a1a; line-height:18px; text-align:center; padding:21px 0 3px; }
.info_modi .txt span {font-size:13px; font-weight:600; color:#23ade3; vertical-align:bottom; }
.info_modi .btn_wrap {text-align:center; padding:15px 10px 15px; }
.info_modi .btn_wrap button {width:49.3%; }
.address_manage {background:#fff; }
.address_manage .address_list {padding:0 10px 15px 10px; margin-top:15px; }
.info_modi .desc_list {padding:0 10px; } 
.desc_list {margin-top:10px; margin-bottom:15px; }
.desc_list ul {background:#f0f0f0; padding:18px 15px; }
.desc_list ul li {font-size:11px; font-weight:600; color:#666; line-height:20px; background:url(../images/common/payment_box_b.gif) no-repeat left 9px; background-size:3px; margin-left:3px; padding-left:7px; }
.desc_list ul li span {font-size:11px; font-weight:800; color:#666; }
.delete_wrap {padding:0 10px; margin-top:20px; }
.delete_wrap .inner {border-top:1px dotted #dcdcdc; }
.delete_wrap h4 {padding-bottom:10px; margin-top:7px; }
.delete_wrap .txt {font-size:11px; font-weight:600; color:#666; }
.delete_wrap .delete_list {border:1px solid #d7d7d7; padding:15px; }
.delete_wrap .delete_list .radio_list li {margin-top:9px; }
.delete_wrap .delete_list .radio_list li:first-child {margin-top:0; }
.delete_wrap .delete_list .radio_list li input[type="radio"]:not(old) + label {display:block; }
.delete_wrap .delete_list .radio_list li textarea {width:100%; padding:15px; border:1px solid #d7d7d7; border-radius:3px; margin-top:5px; resize:none; }

/* 170608 추가 : s */
.tab_list01.four_tab.letter a{font-size:12px; letter-spacing:-2px;}
.easy_manage_notice{margin:12px 10px; padding-left:7px; background:url(../images/common/tab_txt_b.gif) no-repeat left 7px; background-size:2px; font-size:11px; line-height:14px; color:#1c2957; font-weight:600;}
.easy_manage{margin-bottom:15px; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7;}
.easy_manage li{padding:21px 15px 21px 70px; border-top:1px solid #e9e9e9; *zoom:1;}
.easy_manage li:first-child{border-top:0;}
.easy_manage li:after{content:''; clear:both; display:block;}
.easy_manage .type01{background:url(/content/mobile/images/common/logo_naver_rd.gif) no-repeat 15px 50%; background-size:43px;}
.easy_manage .type02{background:url(/content/mobile/images/common/logo_fb_rd.gif) no-repeat 15px 50%; background-size:43px;}
.easy_manage .type03{background:url(/content/mobile/images/common/logo_kakao_rd.gif) no-repeat 15px 50%; background-size:43px;}
.easy_manage li .login_info{float:left;}
.easy_manage li .login_info .tit{font-size:13px; font-weight:600; color:#1a1a1a;}
.easy_manage li .login_info .info{margin-top:4px; font-size:11px; color:#999;}
.easy_manage li .btn_wrap{float:right;}
.easy_manage .btn_st3 {width:62px; height:30px; padding:0; font-weight:normal; line-height:28px; letter-spacing:-0.5px;}
/* 170608 추가 : e */


/* 회원탈퇴 */
.member_con {background:#fff;}
.member_con h3 {padding: 24px 0 0; color:#1a1a1a; line-height:18px;}
.member_con h3 span {color:#23ade3; font-size:13px; vertical-align:text-top;}
.member_con .btn_wrap {margin:15px 0; padding:0 10px;}
.member_con .btn_wrap button {float:right; width:49.5%;}
.member_con .btn_wrap button:first-child {float:left;}
.member_con .search_way dd {letter-spacing:-1.6px;}
.survey_wrap {margin-top:20px; padding:20px 10px 0; border-top:1px dotted #dcdcdc;}
.survey_wrap .txt {font-size:11px; text-align:center; color:#666; line-height:16px; letter-spacing:-1.5px;}
.survey_wrap h4 {margin:10px 0; font-size:13px; color:#1a1a1a;}
.survey_list {padding: 15px; border:1px solid #d7d7d7;}
.survey_list li {margin-top:9px;}
.survey_list li:first-child {margin:0;}
.survey_list textarea {resize:none; margin-top:5px; padding:15px; width:100%; min-height:138px; border:1px solid #d7d7d7; border-radius:3px; font-weight:600; font-size:13px;}

/* 오프라인 쿠폰전환 */
.g_number {margin:10px 15px;text-align:center; vertical-align:middle;background:#f2f2f2;border:1px solid #e2e2e2;box-sizing:border-box;}
.g_number .tit {margin:15px 0 20px;font-size: 24px;}
.g_number .coupon_input{max-width:250px;height:40px;}
.g_number .btn_large {margin: 30px 0 ; display:inline-block; background: #23ade3; min-width:130px;  height:50px; padding:0 50px; font-size:18px; line-height:50px; color:#fff; text-align:center; box-sizing:border-box;}