@charset "utf-8";
/* ONLINEPOWERS FED */

/*==================
	팝업
==================*/
.pop_title {position:relative; height:48px; text-align:center; background:#2c375e; }
.pop_title h3 {font-size:17px; font-weight:600; color:#fff; line-height:48px; }
.pop_title .history_back {position:absolute; top:15px; left:15px; width:18px; height:18px; background:url(../images/common/popup_back_ico.gif) no-repeat left top; background-size:18px; font-size:0; text-indent:-9999px; }
.pop_conA { padding: 10px; }
.pop_conA h4 {padding: 0 0 6px;}
.pop_conA .bd_table {padding:0 0 10px;}
.pop_con.bg {background:#f0f0f0; }
.pop_con .bd {border:1px solid #d7d7d7; }
.pop_con .mg0 {margin:0; } 
.pop_con .cp_noti {margin-top: 7px;text-align:right; color:#666;}
.pop_con .cp_noti.ok span {color: #f8474f; font-weight:bold;line-height: 11px;}
.pop_con .del_detail {overflow:hidden; word-wrap:break-word; font-size:13px; font-weight:600; color:#1a1a1a; line-height:44px; margin-left:10px; }
.pop_con .item .order_price { padding:10px 0 0; }
.pop_con .item_list li {border-bottom: 1px solid #f2f2f2;}
.pop_con h4 {display:inline-block; font-size:13px; font-weight:800; color:#1a1a1a; line-height:23px; }
.pop_con .con_top {padding:15px 10px 6px 10px; overflow:hidden; }
.pop_con .con_top.pd0 {padding:0; }
.pop_con .con_top.mg0 {margin:0; }
.pop_con .con_top a {float:right; }
.pop_con .single_input {position:relative; min-height:46px; padding-left:30%; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; padding-bottom:0; }
.pop_con .single_input .del_tit {top:13px; left:15px; }
.pop_con .single_input .text_area {border-top: 1px solid #e4e4e4; padding:10px 15px 10px 0; }
.pop_con .single_input .select_area {padding:10px 15px 10px 0; }
.pop_con .coupon_wrap {margin-bottom:10px; border-top:1px solid #e4e4e4; }
.pop_con .coupon_wrap .coupon_none {background-position:center 104px; padding: 160px 0 100px;}
.pop_con .card_wrap {padding:20px 10px 35px; }
.pop_con .card_wrap .info {margin:16px 0; }
.pop_con .card_wrap .info p {font-size:11px; font-weight:600; color:#666; line-height:15px; }
.pop_con .card_wrap .desc li {margin-bottom:8px; }
.pop_con .card_wrap .desc dt {font-size:11px; font-weight:800; color:#1a1a1a; line-height:15px; margin-bottom:3px; } /* 170414 수정 */
.pop_con .card_wrap .desc dd {font-size:11px; font-weight:600; color:#666; line-height:15px; } /* 170414 수정 */
.pop_con .set {height:47px; border:1px solid #d7d7d7; overflow:hidden; padding:10px 15px; margin:10px 10px 0; }
.pop_con .set .tit {display:inline-block; font-size:12px; font-weight:600; color:#666; line-height:27px; }
.pop_con .set label {float:right; }
.pop_con .pop_table .radio_wrap li {margin-left:33px; }
.pop_con .pop_table .radio_wrap li:first-child {margin-left:0; }
.pop_con .pop_table .dash {float:left; width:7%; height:45px; text-align:center; line-height:37px; background:url(../images/common/order_tel_dash.gif) no-repeat center center; background-size:5px 1px; }
.pop_con .cart_list .con_bot .cacul.fr {float:right; }
.pop_con .cart_list .list.pd0 {padding:0;}
.pop_con .cart_list .list li .inner02 {margin:0px; padding:13px 15px; }
.pop_con .btn_wrap {text-align:center; margin:10px 0 15px; }

.review_rating_info {position:relative; top:0; z-index:1; padding-top:13px; }
.review_rating_info a {display:block; font-size:0; }
.review_rating_info span:first-child {position:static; margin-left:0; }
.review_rating_info span.star {padding:0; display:inline-block; width:13px; height:12px; margin-left:2px; }
.review_rating_info span.star img {width:100%; }

.pop_conA .btn_wrap {text-align:center; margin:0; }
.view_detail_con {padding-bottom:5px; }
.view_detail_tit {font-size:14px; font-weight:800; color:#1a1a1a; line-height:17px; border-bottom:1px solid #d1d1d1; padding:12px 10px; }
.view_detail_slider {overflow:hidden; }
.view_thumb_slider {padding:0 10px; overflow:hidden; }
.img_number {font-size:14px; font-weight:800; color:#666; text-align:center; margin:8px 0 25px; }
.img_number span {font-size:14px; font-weight:800; color:#666; vertical-align:bottom; }
/*.desc {padding:0 10px; }*/
.desc .line {position:relative; height:7px; background:url(../images/common/view_detail_line.gif) repeat-x left center; background-size:1px; margin:5px 0 7px; }
.desc .line .arr_left {position:absolute; top:0; left:0; display:block; width:6px; height:7px; background:url(../images/common/view_detail_Larr.gif) no-repeat left top; background-size:6px 7px; }
.desc .line .arr_right {position:absolute; top:0; right:0; display:block; width:6px; height:7px; background:url(../images/common/view_detail_Rarr.gif) no-repeat left top; background-size:6px 7px; }
.desc .txt {font-size:11px; font-weight:800; color:#999; text-align:center; }

.bd_table {padding:10px 10px 0 10px; background:#fff;}
.bd_table:after {content:""; display:block; clear:both; } /* 170405 추가 */
.bd_table.pd0 {padding:0; }
.bd_table:first-child {padding-bottom:0; }
.bd_table .del_info {border:1px solid #d7d7d7; }
.bd_table .del_info.none {border:0; }
.bd_table .del_info > li {position:relative; min-height:60px; padding:10px 15px 10px 33.5%; border-top:1px solid #e4e4e4; } /* 170405 수정 */
.bd_table .del_info > li.item_list:first-child {border-top:1px solid #e4e4e4; }
.bd_table .del_info > li.item_list { padding: 10px; border-top:1px dotted #e4e4e4;}
.bd_table .del_info > li:first-child {margin-top:0; border-top:0; }
.bd_table .del_info > li .del_tit {top:22px; left:15px; }
.bd_table .del_info > li .del_tit.none {top:10px; }
.bd_table .del_info > li .radio_area {line-height:45px; padding-left:10px; }
.bd_table .del_info > li .radio_list {padding:15px 0 15px 10px; }
.bd_table .del_info > li .radio_list li {margin-top:9px; }
.bd_table .del_info > li .radio_list li:first-child {margin-top:0; }
.bd_table .del_info > li.chunk {padding-right:0; }
.bd_table .del_info > li.chunk .user_info {border-bottom:1px solid #e4e4e4; padding:0 15px 10px 0; } /* 170405 수정 */
.bd_table .del_info > li.chunk .user_info:after {content:""; display:block; clear:both; }
.bd_table .del_info > li.chunk .input_area {padding:10px 15px 0 0; }
.bd_table .del_info > li.chunk .input_area.none {padding:0 15px 0 0; }
.bd_table .del_info > li.chunk .select_area {border-bottom:1px solid #e4e4e4; }
.bd_table .del_info > li.chunk .text_area {padding-right:15px; }
.bd_table .del_info > li.chunk .bd_bot {border-bottom:1px solid #e4e4e4; padding-top:0; padding-bottom:5px; margin-bottom:5px;  }
.bd_table .del_info > li.map {padding:0; }
.bd_table .del_info > li span.file_noti {color:#999; font-size:11px;}
.bd_table .del_info > li.file .input_area {padding: 7px 0;}
.bd_table .del_info .del_detail {overflow:hidden; word-wrap:break-word; font-size:13px; font-weight:600; color:#1a1a1a; line-height:44px; margin-left:10px; }
.bd_table .cart_list {margin:0; border:1px solid #d7d7d7; border-top:none; background:#fff;}
.bd_table .cart_list .list {padding:0;}
.bd_table .cart_list .list li .inner {margin:0px; padding:13px 15px; border-style: dotted;}
.bd_table .cart_list .list li:first-child .inner{border:0;}
.bd_table .cart_list .list li .inner .con_top {padding:0 0 0 85px;}
.bd_table .cart_list .list li .con_bot {margin: 10px 0 0 85px;}
.bd_table .user_info {display:table; width:100%; table-layout:fixed; overflow:hidden; } 
.bd_table .user_info .in_td{float:left; width:63%; } /* 170405 수정 */
.bd_table .user_info .in_td.bar {width:5px; text-align:center; color:#797d88; }
.bd_table .user_info .in_td.address {float:right; width:62px; height:39px; display:inline-block; text-align:right; margin-left:5px; } /* 170405 수정 */
.bd_table .user_info .in_td.address button {width:100%; height:100%; }
.bd_table .in_td.agree {width:100%; height:39px; display:inline-block; text-align:right; margin-top:5px; } /* 170406 추가 */
.bd_table .in_td.agree button {width:84px; height:100%; } /* 170406 추가 */
.bd_table .sms_txt {font-size:12px; font-weight:600; color:#666; line-height:17px; margin-top:14px; padding-left:14px; }
.bd_table .sms_desc {font-size:12px; font-weight:600; color:#999; line-height:17px; padding-left:14px; }
.bd_table .radio_wrap {padding-left:14px; }
.bd_table .num {overflow:hidden; }
.bd_table .num select {color:#999; padding-left:7px; font-weight:600; }
.bd_table .num .input_area {float:left; width:28.6%; }
.bd_table .num .input_area input[type="text"] {padding:0;}
.bd_table .num .dash {float:left; width:7%; height:39px; text-align:center; background:url(../images/common/order_tel_dash.gif) no-repeat center center; background-size:5px 1px; }
.bd_table .input_area02 {float:left; width:44.5%;}
.bd_table .num input {text-align:center; }
.bd_table .num p {display: table-cell; height: 45px; color: #1a1a1a; font-size: 13px; line-height: 17px; vertical-align: middle; font-weight:600;}
.bd_table input[type="text"] {height:39px; }
.bd_table .cacul .num {height:32px; }
.bd_table .cacul button {margin-left:5px; }
.bd_table select {color:#1a1a1a; height:39px; padding-left:10px; font-weight:600; }
.bd_table textarea {width:100%; font-size:13px; font-weight:600; color:#1a1a1a; border:1px solid #d7d7d7; border-radius: 3px; padding:16px 10px; resize:none; }
.bd_table .price_wrap {padding:11px 0 11px 10px; }
.bd_table .total_price {font-size:12px; font-weight:600; color:#1a1a1a; line-height:18px; margin-top:3px; }
.bd_table .total_price span {font-size:12px; font-weight:600; color:#1a1a1a; vertical-align:bottom; }
.bd_table .detail_price {font-size:11px; font-weight:600; color:#999; line-height:18px; }
.bd_table .detail_price span {font-size:11px; font-weight:600; color:#999; vertical-align:bottom; }
.bd_table .mail {float:left; width:11%; padding:16px 0; font-size:11px; color:#666; text-align:center; }
.bd_table .e-info {display: block; font-size:9px; font-weight:600; line-height:12px; color:#b7b7b7; margin-top:4px; }
.bd_table .e-info.ok {color:#23ade3;}
.bd_table .del_info > li.chunk .in_sel .input_area {margin-left:19px; padding-right:0;}
.bd_table .del_info > li.chunk .in_sel .input_area:first-child {margin:0; padding-top:0; }
/*.bd_table.typeB .del_info > li {padding-left:37%;}*/
.bd_table.typeB .sms_txt,
.bd_table.typeB .sms_desc,
.bd_table.typeB .radio_wrap {padding:0;}
/*.bd_table.typeB .user_info .in_td.address {width:62px; height:45px; }
.bd_table.typeB .user_info .in_td.address button, .bd_table.typeB .user_info .in_td.address a {}*/
.bd_table.-login > ul > li{padding-top:10px;}
.bd_table.-login > ul > li:first-child{padding-top:0px;}
.bd_table.-login .in_td.bar {padding-top:10px;}

.write_top {padding:10px 10px 0 10px; }
.write_top .inner {position:relative; height:72px; border:1px solid #d7d7d7; padding:15px 26px 15px 86px; }
.write_top .write_img {position:absolute; top:0; left:0; width:70px; height:70px; }
.write_top .write_name p {font-size:14px; font-weight:800; color:#1a1a1a; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; line-height:17px; height:34px; }

.search_adr { position:relative; }
.search_adr select {float:left; width:90px; margin-right: 5px; }
.search_adr input[type="text"] {float:right; width:200px; margin-right: 5px; font-size:13px; font-weight: normal;}
.search_adr .search { position:absolute; right: 30px; top:25px; }
#wrap .search_adr .search img { width:18px; height:18px; }
.boardL {padding: 10px;}
.boardL table {width: 100%; border:1px solid #e1e1e1; border-bottom:0;}
.boardL table th {padding: 10px 5px; border-left:2px solid #e0e0e0; border-bottom:1px solid #e1e1e1;background:#fcfcfc; color:#333; text-align:center; font-weight:600;} 
.boardL table th:first-child {border-left:0}
.boardL table td {border-left:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; font-size:13px; color:#666; line-height:15px; text-align: center;}
.boardL table td a { font-size:13px; color:#666; }
.boardL table td:first-child {border-left:0;}
.boardL table td.adr {padding:8px 28px 10px 9px; text-align:left;}

.list_info {margin-top:10px; border:1px solid #d7d7d7;}
.list_info .list { border-top:1px solid #d7d7d7; padding: 20px 15px; }
.list_info .list:first-child {border:0;}
.list_info .list.nm p { font-weight:bold; }
.list_info .list .lct, 
.list_info .list .name, 
.list_info .list .number,
.list_info .list .address {color:#1a1a1a; font-size:13px; line-height:21px; }
.list_info .list .lct {color:#1c2957; font-weight: bold;}
.list_info .list .btn_area { margin:12px 0 0; }
.list_info .list .btn_area .submit {width:132px; }
.list_info .list .btn_area button {/*width:64px;*/ margin-left:4px; } /* 170405 수정 */
.list_info .list .btn_area button:first-child {margin-left:0; }
.list_info .list a { width: 49.3%; }
.list_info .list a:first-child {float:left;}
.list_info .list a:last-child {float:right;}

.pop_coupon { background:#fff; padding:0 10px; }
.pop_coupon .inner {position:relative; padding:15px 0 15px 115px; }
.pop_coupon .img {position:absolute; top:15px; left:5px; text-align:center; }
.pop_coupon .img .coupon {width:95px; height:49px; line-height:48px; font-size:13px; font-weight:800; font-style:italic; color:#fff; padding-left:1px; text-align:center; padding-right:14px; }
.pop_coupon .img .coupon span {font-size:15px; font-weight:800; color:#fff; padding-left:1px; vertical-align:baseline; }
.pop_coupon .img .coupon_blue {background:url(../images/common/coupon_bg_blue.png) no-repeat left top; background-size:95px 49px; }
.pop_coupon .img .coupon_green {background:url(../images/common/coupon_bg_green.png) no-repeat left top; background-size:95px 49px; }
.pop_coupon .img .coupon_red {background:url(../images/common/coupon_bg_red.png) no-repeat left top; background-size:95px 49px; }
.pop_coupon .img a {display:inline-block; margin-top:5px; }
.pop_coupon .txt .coupon_desc {font-size:11px; font-weight:400; color:#999; }
.pop_coupon .txt .coupon_name {font-size:15px; font-weight:800; color:#1a1a1a; line-height:18px; margin:5px 0; }
.pop_coupon .txt .coupon_date {font-size:11px; font-weight:400; color:#b7b7b7; }
.pop_coupon .txt .all {display:inline-block; width:70px; height:22px; font-size:11px; color:#999; line-height:20px; border:1px solid #e4e4e4; border-radius:3px; text-align:center; }
.pop_coupon .txt .part {display:inline-block; width:70px; height:22px; font-size:11px; color:#23ade3; line-height:20px; border:1px solid #23ade3; border-radius:3px; text-align:center; }

.pop_coupon_list {margin-top:10px; height:20px; background:#fff; }
.pop_coupon_list .title {font-size:13px; font-weight:800; color:#1a1a1a; padding:19px 10px 10px; border-bottom:1px solid #e4e4e4; }
.pop_coupon_list .title span {font-size:13px; font-weight:800; color:#fd5021; vertical-align:top; }
.pop_coupon_list ul li .item {padding-bottom:15px; }

.pop_con .payment_pop {padding:15px; }
.pop_con .payment_pop h4 {font-size:13px; font-weight:800; color:#1a1a1a; margin-bottom:7px; }
.pop_con .payment_pop ul li {background:url(../images/common/payment_pop_b.gif) no-repeat left 8px; background-size:2px 2px; padding-left:6px; margin-top:20px; }
.pop_con .payment_pop ul li:first-child {margin-top:0; }
.pop_con .payment_pop ul li .txt {font-size:12px; font-weight:600; color:#666; line-height:18px; }
.pop_con .payment_pop ul li .txt span {font-size:12px; font-weight:600; color:#1a1a1a; vertical-align:bottom; }
.pop_con .payment_pop ul li .desc {font-size:11px; font-weight:600; color:#999; line-height:17px; padding:0; }
.pop_con .payment_pop ul li .desc span {font-size:11px; font-weight:600; color:#666; vertical-align:bottom; }
.pop_con .payment_pop dl {background:#f0f0f0; padding:18px 15px; margin-bottom:15px; }
.pop_con .payment_pop dl dt {font-size:11px; font-weight:800; color:#666; margin-bottom:5px; margin-top:10px; }
.pop_con .payment_pop dl dt:first-child {margin-top:0; }
.pop_con .payment_pop dl dd {font-size:11px; font-weight:600; color:#666; line-height:20px; background:url(../images/common/payment_box_b.gif) no-repeat left 9px; background-size:3px; margin-left:3px; padding-left:7px; }


/* 주문결제 */
.del_info.type-view li{min-height:39px; margin:0;  } 
.info-view{line-height:39px; padding-left:10px; color: #1a1a1a; font-weight: 600;}
.info-view.address{line-height:1.6em; vertical-align:middle;}



/* SKC */

.item .order_price span.discount {
    text-decoration: line-through;
    font-weight: normal;
}
.item .order_price span.sale_price {
    color: #f8474f;
    font-size: 15px;
}
.sale_price {
    color: #f8474f;
    font-size: 15px;
}


/* ======= [20/07/27] 오프라인 쿠폰 등록하기 ======= */
.pop_con .offline_coupon_area{margin:32px 16px;}
.pop_con .offline_coupon_area .offline_area{padding-top:10px;}
.pop_con .offline_coupon_area .tit{font-size: 15px;color: #4a4a4a;letter-spacing: -1px;font-weight: 600;font-family: "Malgun Gothic";}
.pop_con .offline_coupon_area .tit span{font-size: 12px;font-weight: normal;color: #666;font-family: "Malgun Gothic";margin-left: 8px;}
.pop_con .offline_coupon_area input{width:calc(100% - 56px);height:28px;vertical-align: middle;}
.pop_con .offline_coupon_area .btn_st3{height: 28px;padding: 0 13px;vertical-align: middle;}



/* ======= [20/08/03] 모바일 필터 ======= */
.pop_filter{position: absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index: 10000;}
.pop_filter .pop_title{height:auto;padding:16px 15px;border-bottom:1px solid #B2B2B2;background:#fff;}
.pop_filter .pop_title h4{color:#333;font-size:13px;font-weight:700;text-align: left;}
.pop_filter .pop_close{position:absolute;top:0;right:0;width:43px;height:45px;background:url(../images/common/icon_pop_close.png) no-repeat center;background-size:11px auto;}

.pop_filter .tit{display:block;position:relative;padding:13px 15px;border-bottom:1px solid #f0f0f0;background:#fff;}
.pop_filter .tit:after{content: '';display: inline-block;position: absolute;top:50%;right:15px;width:11px;height:1px;background:url(../images/common/icon_minus2.png) no-repeat;background-size:11px auto;transform: translateY(-50%);}
.pop_filter .filter_m_wrap{padding-bottom: 63px;}
.filter_m_wrap .tit.on:after{content: '';display: inline-block;position: absolute;top:50%;right:15px;width:11px;height:11px;background:url(../images/common/icon_plus2.png) no-repeat 95% 50%;background-size:11px auto;}
.filter_m_wrap .content{padding:2px 15px;font-size:0;background: #fcfcfc;}
.filter_m_wrap .content .lists{display:inline-block;width:50%;margin:13px 0;}
.filter_m_wrap .content .lists label{color:#666;font-size:11px;text-indent:initial;}

.filter_m_wrap .content.color{display:flex;width:100%;flex-wrap: wrap;align-items:flex-end;}
.filter_m_wrap .content.color .lists{width:22px;margin: 13px calc(calc(100% - 110px)/4) 13px 0;}
.filter_m_wrap .content.color .lists:nth-child(5n){margin:13px 0;}
.filter_m_wrap .content.color a{display: block;width:22px;height:22px;border:1px solid #B2B2B2;}
.filter_m_wrap .content.color a.on{background:url(../images/common/icon_chk_w.png) no-repeat center;background-size: 17px auto;}
.filter_m_wrap .content.color .chk_b a.on{background:url(../images/common/icon_chk_b.png) no-repeat center;background-size: 17px auto;}
.pop_filter .btn_wrap{position:fixed;bottom:0;left:0;width:100%;padding:11px 15px;font-size:0;text-align: center;background: #fff;z-index: 10;}
.pop_filter .btn_st1.back{width:76%;font-weight: 500;}
.pop_filter .btn_wrap .btn_reset{margin-right:2%;width:22%;padding:11px 0;color:#666;font-size:12px;border:1px solid #d1d1d1;border-radius:3px;background: #F7F7F7;}

.pop_filter .content.kind img{width:34px !important;height:34px;}
.pop_filter .content.kind .lists a{display: block;max-width:140px;}
.pop_filter .content.kind .lists a.on{padding:6px 15px;border:1px solid #1C2957;background: #fff;}
.pop_filter .content.kind .lists a.on .txt{color:#1C2957;font-weight: 700;}