@charset "utf-8";
/* Front-end Dev Mino Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	letter-spacing: -0.5px;
	vertical-align: middle;
	font-family: Open Sans, Malgun Gothic, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	line-height: 1;
	text-align: left; 
	word-break: break-word;
}
* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*
li,p,dt,dd,div,span {
	word-break:break-all
}
*/


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, legend{font-size:0; line-height:0; height:0}
img, fieldset, iframe {
	border: 0 none;
}
a {color: #000; text-decoration: none; }
a:hover {text-decoration: none; }
a:active, a:focus {outline: none; }
/* a:active {background-color: yellow;} */

::-webkit-input-placeholder {color:#999; }
::-moz-placeholder {color:#999; } /* firefox 19+ */
:-moz-placeholder {color:#999; }
:-ms-input-placeholder {color:#999; } /* ie */


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
button::-moz-focus-inner {border:0; padding:0; }

/* Start of "Micro clearfix" */
.cf:before,
.cf:after {content: " "; display: table; }
.cf:after {clear: both; }
.cf {*zoom: 1; }
/* End of "Micro clearfix" */

/* Start of Mobile Form Default */
input[type='text'],input[type='password'],input[type='image'],input[type='search']{-webkit-appearance:none; -webkit-border-radius:0}
/* End of Mobile Form Default */

 /* 대체 텍스트 숨김 */
.ir_pm {display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px; } /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height:100%; } /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {overflow:hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px; } /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */